# Managed by Ambari. Changes will be overwritten.
-log_dir={{impala_log_dir}}
-log_filename=catalogd
-hostname={{current_host_name}}
-max_log_files={{max_log_files}}
-catalog_service_port={{impala_catalog_service_port}}
-webserver_port={{impala_catalog_webserver_port}}
-state_store_subscriber_port={{impala_catalog_state_store_subscriber_port}}
-state_store_host={{impala_state_store_host}}
-catalog_service_host={{impala_catalog_host}}
-hms_event_polling_interval_s={{hms_event_polling_interval_s}}
-num_metadata_loading_threads={{num_metadata_loading_threads}}
-inc_stats_size_limit_bytes={{inc_stats_size_limit_bytes}}
-datastream_sender_timeout_ms={{datastream_sender_timeout_ms}}
-accepted_cnxn_queue_depth={{accepted_cnxn_queue_depth}}
-minidump_path={{minidump_path}}
-max_minidumps={{max_minidumps}}
-default_query_options={{default_query_options}}
-idle_query_timeout={{impala_idle_query_timeout}}
-idle_session_timeout={{impala_idle_session_timeout}}
-idle_client_poll_period_s={{idle_client_poll_period_s}}
-statestore_subscriber_timeout_seconds={{statestore_subscriber_timeout_s}}
{% if enable_catalogd_ha %}
-enable_catalogd_ha=true
-catalogd_ha_preemption_wait_period_ms={{catalogd_ha_preemption_wait_period_ms}}
{% endif %}
{% if enable_statestored_ha %}
-enable_statestored_ha=true
-state_store_2_host={{impala_secondary_state_store_host}}
-state_store_2_port={{impala_state_store_port}}
{% endif %}
-load_catalog_in_background={{load_catalog_in_background}}
-load_auth_to_local_rules={{load_auth_to_local_rules}}
-enable_legacy_avx_support={{enable_legacy_avx_support}}
-enable_insert_events={{enable_insert_events}}
-redaction_rules_file={{redaction_rules_file}}
{% if enable_ranger %}
-server_name={{hive_server_host}}
-ranger_service_type={{ impala_ranger_service_type }}
-ranger_app_id={{ impala_ranger_app_id }}
-authorization_provider={{ impala_authorization_provider }}
-authorized_proxy_user_config={{ impala_proxy_user_config }}
{% endif %}
-disable_kudu={{impala_disable_kudu}}
{% if security_enabled %}
-kerberos_reinit_interval={{kerberos_reinit_interval}}
-principal={{ impala_principal }}
-keytab_file={{ impala_keytab }}
{% endif %}
{% if client_services_ssl_enabled %}
-ssl_server_certificate={{ssl_server_certificate}}
-ssl_private_key={{ssl_private_key}}
-ssl_private_key_password_cmd={{ssl_private_key_password_cmd}}
-ssl_client_ca_certificate={{ssl_client_ca_certificate}}
-webserver_certificate_file={{webserver_certificate_file}}
-webserver_private_key_file={{webserver_private_key_file}}
-webserver_private_key_password_cmd={{webserver_private_key_password_cmd}}
{% endif %}
{% if enable_ldap_auth %}
-enable_ldap_auth=true
-ldap_uri={{impala_ldap_uri}}
-ldap_passwords_in_clear_ok={{impala_ldap_passwords_in_clear_ok}}
{% if ldap_allow_anonymous_binds %}
-ldap_allow_anonymous_binds={{ldap_allow_anonymous_binds}}
{% else %}
-ldap_bind_dn={{ldap_bind_dn}}
-ldap_bind_password_cmd={{ldap_bind_password_cmd}}
{% endif %}
{% if ldap_domain %}
-ldap_domain={{impala_ldap_domain}}
{% endif %}
{% if ldap_baseDN %}
-ldap_basedn={{ldap_baseDN}}
{% endif %}
{% if ldap_bind_pattern %}
-ldap_bind_pattern={{ldap_bind_pattern}}
{% endif %}
{% if ldap_search_bind_authentication %}
-ldap_search_bind_authentication={{ldap_search_bind_authentication}}
-allow_custom_ldap_filters_with_kerberos_auth={{allow_custom_ldap_filters_with_kerberos_auth}}
-ldap_user_search_basedn={{ldap_user_search_basedn}}
-ldap_group_search_basedn={{ldap_group_search_basedn}}
-ldap_user_filter={{ldap_user_filter}}
-ldap_group_filter={{ldap_group_filter}}
{% else %}
-ldap_user_filter={{ldap_user_filter}}
-ldap_group_filter={{ldap_group_filter}}
-ldap_group_dn_pattern={{ldap_group_dn_pattern}}
-ldap_group_membership_key={{ldap_group_membership_key}}
-ldap_group_class_key={{ldap_group_class_key}}
{% endif %}
{% endif %}
{% if enable_ldap_tls %}
-ldap_tls=true
-ldap_ca_certificate={{ldap_ca_certificate}}
{% endif %}
{% if new_catalog_items.keys() %}
{% for key, value in new_catalog_items.items() %}
-{{ key }}={{ value }}
{% endfor %}
{% endif %}
