# Managed by Ambari. Manual edits will be overwritten.
--fs_wal_dir={{master_wal_dir}}
--fs_data_dirs={{master_data_dirs}}
--rpc_bind_addresses={{master_rpc_bind_addresses}}
--webserver_interface={{master_webserver_interface}}
--webserver_port={{master_webserver_port}}
--master_addresses={{master_addresses}}
--log_dir={{kudu_log_dir}}
{% if security_enabled and kudu_principal_name and kudu_keytab %}
--rpc_authentication=required
--rpc_encryption=required
--keytab_file={{kudu_keytab}}
--principal={{kudu_principal_name}}
{% endif %}
{% if master_additional_flags and master_additional_flags.strip() %}
{{master_additional_flags}}
{% endif %}
