{#
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
# Managed by Ambari. Manual edits will be overwritten.
--fs_wal_dir={{master_wal_dir}}
--fs_data_dirs={{master_data_dirs}}
--rpc_bind_addresses={{master_rpc_bind_addresses}}
--webserver_interface={{master_webserver_interface}}
--webserver_port={{master_webserver_port}}
--master_addresses={{master_addresses}}
--log_dir={{kudu_log_dir}}
{% if kudu_enable_tls and kudu_tls_cert_file and kudu_tls_private_key_file %}
--unlock_experimental_flags
--rpc_certificate_file={{kudu_tls_cert_file}}
--rpc_private_key_file={{kudu_tls_private_key_file}}
--webserver_certificate_file={{kudu_tls_cert_file}}
--webserver_private_key_file={{kudu_tls_private_key_file}}
{% if kudu_tls_ca_cert_file and kudu_tls_ca_cert_file.strip() %}
--rpc_ca_certificate_file={{kudu_tls_ca_cert_file}}
{% endif %}
{% endif %}
{% if security_enabled and kudu_principal_name and kudu_keytab %}
--rpc_authentication=required
--rpc_encryption=required
--keytab_file={{kudu_keytab}}
--principal={{kudu_principal_name}}
{% endif %}
{% if enable_ranger_kudu %}
{% if '--ranger_config_path' not in master_additional_flags %}
--ranger_config_path={{ranger_kudu_config_path}}
{% endif %}
{% if '--ranger_java_path' not in master_additional_flags %}
--ranger_java_path={{ranger_kudu_java_path}}
{% endif %}
{% if '--ranger_receiver_fifo_dir' not in master_additional_flags %}
--ranger_receiver_fifo_dir={{ranger_kudu_receiver_fifo_dir}}
{% endif %}
{% endif %}
{% if master_additional_flags and master_additional_flags.strip() %}
{{master_additional_flags}}
{% endif %}
