# Managed by Ambari. Manual edits will be overwritten.
--fs_wal_dir={{tserver_wal_dir}}
--fs_data_dirs={{tserver_data_dirs}}
--rpc_bind_addresses={{tserver_rpc_bind_addresses}}
--webserver_interface={{tserver_webserver_interface}}
--webserver_port={{tserver_webserver_port}}
--tserver_master_addrs={{tserver_master_addrs}}
--log_dir={{kudu_log_dir}}
{% if kudu_enable_tls and kudu_tls_cert_file and kudu_tls_private_key_file %}
--unlock_experimental_flags
--rpc_certificate_file={{kudu_tls_cert_file}}
--rpc_private_key_file={{kudu_tls_private_key_file}}
--webserver_certificate_file={{kudu_tls_cert_file}}
--webserver_private_key_file={{kudu_tls_private_key_file}}
{% if kudu_tls_ca_cert_file and kudu_tls_ca_cert_file.strip() %}
--rpc_ca_certificate_file={{kudu_tls_ca_cert_file}}
{% endif %}
{% endif %}
{% if security_enabled and kudu_principal_name and kudu_keytab %}
--rpc_authentication=required
--rpc_encryption=required
--keytab_file={{kudu_keytab}}
--principal={{kudu_principal_name}}
{% endif %}
{% if enable_ranger_kudu %}
{% if '--ranger_config_path' not in tserver_additional_flags %}
--ranger_config_path={{ranger_kudu_config_path}}
{% endif %}
{% if '--ranger_java_path' not in tserver_additional_flags %}
--ranger_java_path={{ranger_kudu_java_path}}
{% endif %}
{% if '--ranger_receiver_fifo_dir' not in tserver_additional_flags %}
--ranger_receiver_fifo_dir={{ranger_kudu_receiver_fifo_dir}}
{% endif %}
{% if '--tserver_enforce_access_control' not in tserver_additional_flags %}
--tserver_enforce_access_control=true
{% endif %}
{% endif %}
{% if tserver_additional_flags and tserver_additional_flags.strip() %}
{{tserver_additional_flags}}
{% endif %}
