# Managed by Ambari. Manual edits will be overwritten.
--fs_wal_dir={{tserver_wal_dir}}
--fs_data_dirs={{tserver_data_dirs}}
--rpc_bind_addresses={{tserver_rpc_bind_addresses}}
--webserver_interface={{tserver_webserver_interface}}
--webserver_port={{tserver_webserver_port}}
--tserver_master_addrs={{tserver_master_addrs}}
--log_dir={{kudu_log_dir}}
{% if security_enabled and kudu_principal_name and kudu_keytab %}
--rpc_authentication=required
--rpc_encryption=required
--keytab_file={{kudu_keytab}}
--principal={{kudu_principal_name}}
{% endif %}
{% if tserver_additional_flags and tserver_additional_flags.strip() %}
{{tserver_additional_flags}}
{% endif %}
